

.form-container {
    max-width: 1300px;
    margin: 0 auto;
    background-color:  #f7f7ff;
    padding: 70px 20px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    color: #0077b6;
    padding: 2vw;
}

.form-container section {
    margin-bottom: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}

.form-container section h3 {
    color: #0077b6;
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="date"],
.form-container input[type="radio"],
.form-container input[type="checkbox"] {
    width: 45vw;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="radio"],
.form-container input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.form-container input[type="radio"] + label,
.form-container input[type="checkbox"] + label {
    display: inline-block;
    margin-right: 20px;
}

.form-container p {
    font-size: 12px;
    color: #777;
    margin-top: -10px;
    margin-bottom: 10px;
}
.form-container button{
    background-color:#00a8df;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.4em;
    margin-top: 0.5em;
    padding: 0.5em 3em;

}