
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    .open{
        display: none;
       } 
    .navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: 1.4vw;
    background-color: #f7fbfe;
    padding: 1vw 4vw 1vw 4vw;
    overflow: hidden;
    z-index: 25;
    }
    #logo{
        width: 12vw;
        height: auto;
    }
    
    #nav-button{

        top: 1.6vw;
        right: 5vw;
        padding: 1vw 1.5vw 1vw 1.5vw;
        font-size: 1.2vw;
        border-radius: 2.5vw;
        border: 1px solid  rgb(41, 81, 165);
        color: white;
        cursor: pointer;
        background-color: #00a8df;
    }
    #nav-button:hover{
        background-color:black;
        font-weight: 600;
    }
    #menu-button{
        display: none;
    }
    .navbtns{
        margin-left: 5vw;
        display: block;
    }
    .navbtns a{
        text-decoration: none;
        color: rgb(23, 22, 22);
    }
    .navbtns li{
       padding: 1.5vw;
       list-style-type: none;
       display: inline-block;
    }
    .navbtns li:hover {
        color: rgb(78, 78, 82);
        font-weight: 550;
        cursor: pointer; 
    }
    .logPop{
        position: absolute;
        top: 70%;
        left: 41%;
        padding: 1em 3em;
        background-color:  #57b257;
        color: white;
        border-radius: 4em;
    }
 
    @media (max-width: 680px) {
        #logo{
            width: 20vw;
            height: auto;
        }
        #menu-button{
            display: block;
            position: absolute;
            top: 2vw;
            right: 45vw;
            width: 4vw;
            height: auto;
        }
        .navbar{
            flex-direction: column;
            align-items: flex-start;
            background-color: white;
            /* backdrop-filter: blur(2px); */
            }
        #nav-button{
            top: 1.9vw;
            padding: 0.55vw 1.5vw 0.55vw 1.5vw;
            font-size: 2.1vw;
            background-color: rgb(46, 44, 44);
            border-radius: 1.5vw;
            color: white;
            cursor: pointer;
        }
        .navbtns{
            display: none;
        }
        .open {
            font-size: 8vw;
            list-style-type: none;
            text-decoration: none;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3vw;
            margin-left: 0vw;
        }
        .open a{
            text-decoration: none;
            color: rgb(23, 22, 22);
        }
        .open li{
            margin-top: 2vw;
        }
        .open  li:hover {
            text-align: center;
            width: 100vw;
            background-color: rgb(244, 244, 244);
            color: rgb(78, 78, 82);
            font-weight: 550;
            border-radius: 2vw;
        }
    }